body {
    margin: 0;
    background: linear-gradient(135deg, #0a0f1f, #122346, #0a0f1f);
    color: #e5e7eb;
    font-size: large;
}
.Jobobeli {
   padding: 0 100px;
   margin-left: 300px;
   margin-right: 300px;
}

/*#0a0f1f, #122346, #0a0f1f)*/

h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    letter-spacing: 0.1em;
    
}
h2 {
     text-transform: uppercase;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin-top: auto;
    text-align: center;
    font-size: 2em;

}
.line {
    width: 10%;
    border: none;
    height: 3px;
    background-color: white;
    opacity: 0.4;
    margin: 30px auto;
}

.Profilpic{
  width: 175px;
  height: 175px;
  margin: 20px 20px 75px 0px;
  overflow: hidden;           
  display: inline-block ;
  border-radius: 50%;    
  text-align: center;
  box-shadow: 50% 50% 50% rgba(0,0,0,0.3);      
}
.Profilpic:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
}

.LastPcA{
  width: 175px;
  height: 175px;      
  border-radius: 50%;    
  box-shadow: 50% 50% 50% rgba(0,0,0,0.3);     
  float: left;

}
.LastPc1{
  width: 175px;
  height: 175px;        
  border-radius: 50%;    
  box-shadow: 50% 50% 50% rgba(0,0,0,0.3);     
    object-fit: cover;
    float: right;
    padding: 10px 10px;
}
.LastPcA:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6); 
}
.LastPc1:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.6);
}
#vonal {
    width: 700px;
    height: 3px;
    background-color: rgb(0, 0, 3); 
    margin: auto;
    border-radius: 2px;
    opacity: 0.3;
    margin-bottom: 30px;  
    
}
.elvalaszto {
    width: 5px;
    height: 400px;
    background-color: rgb(0, 0, 3); 
    margin: auto;
    border-radius: 2px;
    opacity: 0.3;
   vertical-align: center ;
}

.kep1 {
    max-width: 40%;
    height: 475px;
    border-radius: 20px;
    float: left;
    margin: 20px 20px auto 300px;
}
.kep2 {
    max-width: 40%;
    height: 475px;
    border-radius: 20px;
    float: right;
    margin: 20px 300px auto 300px;
}
/*szöveg*/
p {
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-right: 300px;
    margin-left: 300px;
    text-align: left;
    font-family: cs2;
    
}



th, td {
    border: 1px solid #555; 
    padding: 10px;

}
#SKT {
    width: 38%;
    text-align: center;
    border: 2px solid #555; 
    margin: 0 auto;
}
#SKTE {
    background-color: #1f2a44;
    color: #e5e7eb;
    text-align: center;
    border-width: 1px;
    
}
#SK1 {
    font-size: 18px;
    line-height: 1.6;
    margin-right: 300px;
    margin-left: 300px;
}
#AstralisT {
        width: 50%;
        text-align: center;
        border: 2px solid #555; 
        margin: 0 auto;
    }



#bekezdés {
    text-align: center;
    font-weight: 500;
    line-height: 2;
    letter-spacing: 0.01em;
    font-size: 0.5cm;
    text-shadow: black 0.1em 0.1em 0.2em;
    margin-right: 300px;
    margin-left: 300px;

   
}
 /*menü*/
.header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.45);
    height: 75px;
    background-position: center center;

}

#fomenu ul {
    text-align: center;
    margin: auto;
    padding: auto;
}

#fomenu li {
    display: inline-block;
    position: relative;
    list-style: none;
    height: 100%;
    padding: 0.8em 1.6em;
}

#fomenu li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 25%;
    height: 50%;
    width: 2.5px;
    background-color: #fff;
    opacity: 0.6;
}

.menu a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .12em;
    font-weight: 500;
    font-size: clamp(19px, 1.8vw, 24px);
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    padding: 2px 0;
    transition: color .2s ease;
}

.menu a:hover {
    color: rgb(61, 148, 186);
    text-decoration: underline;
}