body {
    margin: 0;
    background: linear-gradient(135deg, #0a0f1f, #122346, #0a0f1f);
    color: #e5e7eb;
    font-size: large;
}


h1,
h2 {
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
    letter-spacing: 0.4em;
    margin-top: 1.5cm;
    margin-bottom: 1cm;
}

h2 {
    letter-spacing: 0.2em;
}


.palyaresz {
    display: flex;              
    align-items: flex-start;
    gap: 24px;
    max-width: 1300px;          
    margin-left: 0;
    margin: 40px auto;          
    
}

.palyaresz:nth-child(even) {
    flex-direction: row-reverse;
}


.nagykep {
    margin-top: 70px;
    width: 600px;           
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    flex-shrink: 0;  
    border: 2px, rgb(14, 203, 209), double; 
    box-shadow: 0 8px 20px rgba(0,0,0,0.8);  
    transition: transform .3s ease, filter .3s ease;   
}

.nagykep:hover {
    transform: scale(1.05);
    filter: brightness(1.05);
}

.palya-szoveg {
    flex: 1;
    text-align: justify;
}

.leiras,
.jellemzes {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: #cbd5e1;
    letter-spacing: 0.01em;
}

li {
    line-height: 1.8;
}

footer {
    padding-top: 50px;

}

#leetify {
    text-decoration: none;
}

/*szöveg*/


/*logó*/
h2 img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    margin-right: 10px;
    vertical-align: middle;
}




/*menü*/
.header {
    position: sticky;
    top: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.45);
    height: 75px;
    background-position: center center;

}

#fomenu ul {
    text-align: center;
    margin: auto;
    padding: auto;
}

#fomenu li {
    display: inline-block;
    position: relative;
    list-style: none;
    height: 100%;
    padding: 0.8em 1.6em;
}

#fomenu li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 0;
    top: 25%;
    height: 50%;
    width: 2.5px;
    background-color: #fff;
    opacity: 0.6;
}

.menu a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .12em;
    font-weight: 500;
    font-size: clamp(19px, 1.8vw, 24px);
    color: white;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
    padding: 2px 0;
    transition: color .2s ease;
}

.menu a:hover {
    color: rgb(61, 148, 186);
    text-decoration: underline;
}

/* menü */